#jinja2: lstrip_blocks: "True"
global:
  scrape_interval: 30s
  evaluation_interval: 5s
  external_labels:
    env: production
scrape_configs:
  - job_name: prometheus
    scrape_interval: 5m
    static_configs:
    - targets: ['']
- job_name: node
  scrape_interval: 15s
    metrics_path: /metrics
      static_configs:
        - targets:
        {% for server in groups[prometheus_node_exporter_group] %}
            - ':9100'
            {% endfor %}
            {% endif %}